<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body style="text-align: center">
<div id="app">
    <header>
        <div class="navbar navbar-default" style="background-color: aquamarine; margin: 0 !important">
            <h1 style="float: left">{{ siteName }}</h1>
            <span><a style="float: right; margin-right: 5px" href="/book?language=ua"
                     th:text="#{label.lang.ua}"></a></span>
            <span><a style="float: right; margin-right: 5px" href="/book?language=en"
                     th:text="#{label.lang.en}"></a></span>
            <span><a style="float: right; margin-right: 5px" href="/logout" th:text="#{logout}"></a></span>
            <span><a style="float: right; margin-right: 5px" href="/book" th:text="#{books}"></a></span>
            <span><a style="float: right; margin-right: 5px" href="/orders" th:text="#{orders}"></a></span>
            <span><a style="float: right; margin-right: 5px" href="/" th:text="#{main}"></a></span>
        </div>
    </header>
    <div style="padding-top: 10%; text-align: center; width: 83%; float: right">
    <input type="radio" id="one" value="1" v-model="picked">
    <label for="one" th:text="#{add.book}"></label>
    <input type="radio" id="two" value="2" v-model="picked">
    <label for="two" th:text="#{edit.delete}"></label>
    <hr>
</div>
    <!--    add-->
    <div v-if="picked==1" id="add" style="max-width: 500px; margin: auto;">
        <input id="book_name" type="text" class="form-control" th:placeholder="#{book.name}" v-model="addedBook.name">
        <input id="book_authors" type="text" class="form-control" th:placeholder="#{authors}" v-model="addedBook.authors">
        <input id="book_tags" type="text" class="form-control" th:placeholder="#{tags}" v-model="addedBook.tags">
        <div style="text-align: center; margin-top: 20px">
            <button v-on:click="addBook" class="btn btn-warning" style="width: 30%;" th:text="#{load}"></button>
        </div>
    </div>
    <!--    edit or delete-->
    <div v-else>
        <!--        filter-->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:17%; float: left; padding-top: 10%;">
            <!--            name-->
            <div>
                <input id="partOfName" class="form-control" type="text" v-model="partOfName">
                <label for="partOfName" th:text="#{part.of.name}">Input part of name</label>
            </div>
            <br>
            <!--            tags-->
            <div id="tagsCheckbox" class="col-md-6 boxes">
                <div v-for="tag in tags">
                    <div style="display: inline;">
                        <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                               v-bind:value="tag"
                               v-model="addedTags">
                        <h6 style="display: inline; margin-right: 0px;">{{tag}}</h6>
                    </div>
                </div>
            </div>
            <br>
            <label for="tagsCheckbox" style="margin: 20px ;" th:text="#{select.tags}"></label>
            <br>
            <!--            authors-->
            <div style="padding-top: 10px" id="authorsCheckbox" class="col-md-6 boxes">
                <div v-for="author in authors">
                    <div style="display: inline;">
                        <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                               v-bind:value="author"
                               v-model="addedAuthors">
                        <h6 style="display: inline;">{{author}}</h6>
                    </div>
                </div>
            </div>
            <br>
            <label for="authorsCheckbox" style="margin: 20px" th:text="#{select.authors}"></label>
            <br>
            <button class="btn btn-warning" style="width: 30%;" @click="changeList" th:text="#{load}"></button>
        </div>
        <!--        books -->
        <div>
            <table style="width: 75%;margin-left:25%; padding-top: 10%; display: table" class="table table-borderless">
                <thead>
                <tr>
                    <th th:text="#{book.name}"></th>
                    <th th:text="#{authors}"></th>
                    <th th:text="#{tags}"></th>
                    <th th:text="#{edit}"></th>
                    <th th:text="#{delete}"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books">
                    <td><h1 v-text="book.name"></h1></td>
                    <td><input id="book_a" type="text" class="form-control" v-bind:value="book.authors" v-model="book.authors"></td>
                    <td><input id="book_t" type="text" class="form-control" v-bind:value="book.tags" v-model="book.tags"></td>
                    <td>
                        <button class="btn btn-warning" v-on:click="editBook(book)" th:text="#{edit}"></button>
                    </td>
                    <td>
                        <button class="btn btn-warning" v-on:click="deleteBook(book)" th:text="#{delete}"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data: {
            addedBook: {
                name: "",
                authors: "",
                tags: "",
            },
            picked: '',
            books: [{
                name: 'name',
                authors: 'author',
                tags: 'tags'
            }, {
                name: 'name',
                authors: 'author',
                tags: 'tags'
            }],
            tags: [],
            addedTags: [],
            addedAuthors: [],
            partOfName: null,
            authors: [],
            message: null,
            siteName: 'e-lib'
        },
        async mounted() {
            await this.getBooks();
            await this.getAuthors();
            await this.getTags();
        },
        methods: {
            async addBook() {
                let res = await axios.post('/add', this.addedBook);
            },
            async changeList() {
                let filter = {
                    tags: this.addedTags,
                    authors: this.addedAuthors,
                    name: '%' + this.partOfName + '%',
                };
                let res = await axios.post('/filter', filter);
                if (!res) return;
                this.books = res.data;
            },
            async getTags() {
                let res = await axios.get('/tags');
                if (!res) return;
                this.tags = res.data;
                console.log(this.books);
            },
            async getBooks() {
                let res = await axios.get('/books');
                if (!res) return;
                this.books = res.data;
            },
            async getAuthors() {
                let res = await axios.get('/authors');
                if (!res) return;
                this.authors = res.data;
            },
            async editBook(book) {
                let res = await axios.put('/edit', book);
                if (!res) return;
                this.message = res.data + book.name;
            },
            async deleteBook(book) {
                let res = await axios.delete('/delete/' + book.name);
                if (!res) return;
                this.message = res.data + book.name;
                await this.getBooks();
                await this.getAuthors();
                await this.getTags();

            }
        }
    });
</script>
<style lang="less">
    input {
        margin-top: 17px;
    }

    body {
        font-family: Arial;
        font-style: normal;
    }

    header {
        position: fixed;
        height: 10%;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    span {
        font-size: 30px;
        height: content-box;
    }
</style>
</body>
</html>